body {
    text-align: center;
    background: #1F2937;
    min-width: 400px;
    max-width: 700px;
    border: 5px solid #6943FF;
    border-radius: 10px;
    margin: auto;
    
    
    margin-top: 100px;
    margin-bottom: 50px;
}

.container {
    background: #6943FF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;

}

h1 {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -3%;
    text-align: center;
    color: white;
}

#mainInput {
    border: 2px solid white;
    border-radius: 5px;
    width: 80px;
    height: 60px;
    text-align: center;
    margin: auto;
    
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 38px;
    background-color: #6943FF;
    color: white;
    
}

::placeholder {
   color: white;
}

#Converter {
    width: 90px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-top: 10px;
    padding: 8px 0px 8px 0px;

}

h3 {
    color: #CCC1FF;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;

}


.main {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.section {
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background: #273549;
    margin-bottom: 20px;
}