body {
  text-align: center;
  background: #1f2937;
  min-width: 400px;
  max-width: 700px;
  border: 5px solid #6943ff;
  border-radius: 10px;
  margin: auto;

  margin-top: 100px;
  margin-bottom: 50px;
}

.container {
  background: #6943ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Inter;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: center;
  color: white;
}

#mainInput {
  border: 2px solid white;
  border-radius: 5px;
  width: 80px;
  height: 60px;
  text-align: center;
  margin: auto;

  font-family: Inter;
  font-weight: 800;
  font-size: 38px;
  background-color: #6943ff;
  color: white;
}

#mainInput::placeholder {
  color: white;
}

#Converter {
  width: 90px;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-top: 10px;
  padding: 8px 0px 8px 0px;
}

h3 {
  color: #ccc1ff;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.main {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.section {
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  background: #273549;
  margin-bottom: 20px;
}
body.light-mode .section {
  background: #e5e7eb;
}

#lightmode {
  width: 60px;
  background: white;
  color: #1f2937;
  border: none;
  margin-bottom: 20px;
  padding: 2px 0px 2px 0px;
  border-radius: 10px;
}

body.light-mode #lightmode {
  background: #1f2937;
  color: #ffffff;
}

body.light-mode {
  background-color: white;
  color: #1f2937;
}

body.light-mode h3 {
  color: #1f2937;
}

body.light-mode p {
  color: #1f2937;
}
